<!DOCTYPE html>
<html>
    <head>
        <meta  charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Message Center</title>
        <div th:replace="fragment/lineApiHeader :: header_resource"></div>
        
        <script src="frameworks/stomp.js"></script>
        <script src="frameworks/sockjs.js"></script>
        <script src="scripts/deviceHandler.js"></script>
        <script src="scripts/createFollowerList.js"></script>
        <script src="scripts/createCoversationFrame.js"></script>
        <script src="scripts/createBlockScreen.js"></script>
        <script src="scripts/generateGUID.js"></script>
        <script th:inline="javascript">
            var websxUser;
            var currentfollower;
            var currentinfosta;
            var shiftsta;
            var stadw;
        
            $(function() {
            	initcotgarden();
            	initmsggarden();
            	
            	$('#arefiaconvselbtn').click();
            	
            	if (xsSize.matches) {
            		stadw = 128;
            	} else if (smSize.matches) {
            		stadw = 128;
            	} else if (mdSize.matches) {
            		stadw = 128;
            	} else if (lgSize.matches) {
            		stadw = 256;
            	} else {
            		stadw = 256;
            	}
            	
            	var menuList = JSON.parse([[${menuinfo}]]);
            	
            	$('#arefiamsgtxtarea').bind('keydown', function() {
            		if (event.keyCode == 16) {
                		shiftsta = true;
                	}
            	});
            	
            	$('#arefiamsgtxtarea').bind('keyup', function() {
            		if (event.keyCode == 16) {
                		shiftsta = false;
                	}
            	});
            	
            	$('#arefiamsgtxtarea').bind('keypress', function() {
                	if (event.keyCode == 13) {
                	    if (shiftsta == undefined || !shiftsta) {
                            stompClient.send("/app/pushMessage", {}, JSON.stringify({'sourcer': currentfollower, 'messageType': 'text', 'message': $('#arefiamsgtxtarea').val(), 'pusher': websxUser, 'file': null}));
                            $('#arefiamsgtxtarea').val('');
                            return false;
                		}
                	}
            	});

                for (var m = 0; m < menuList.length; m++) {
                	if (menuList[m].MenuID != [[${pageid}]]) {
                		$('#arefiamenuul').append('<li class="unlink" onclick="redirectPage(\'' + menuList[m].MenuURL + '\')">' + menuList[m].MenuName + '</li>');
                	} else {
                		$('#arefiamenuul').append('<li class="linked">' + menuList[m].MenuName + '</li>');
                	}
                }
                
                $('#usernamelab').text([[${username}]]);
                
                $.get('getfollowerinfolist', function(result) {
                	if (result != null && result != '') {
                		var usList = JSON.parse(result);
                    	
                    	for (var u = 0; u < usList.length; u++) {
                    		var usObj = usList[u];
                    		
                    		addNewUserList(usObj, $('#arefiacontlist'));
                    	}
                	}
                	
                	$.get('conversationfollowers', function(result) {
                    	if (result != null && result != '') {
                    		var fsList = JSON.parse(result);
                        	
                        	for (var s = 0; s < fsList.length; s++) {
                        		var fsObj = fsList[s];
                        		
                        		addNewLine(fsObj, $('#arefiauserlist'), 'initial');
                        	}
                    	}
                    });
                });
                               
                websocketConnect();
            })
            
            function initmsggarden() {
            	$('#arefiamessageshow').css('display', 'none');
                $('#arefiaconvtitle').css('display', 'none');
                $('#arefiamessagetool').css('display', 'none');
                $('#arefiamessageeditor').css('display', 'none');
                $('#arefiamessagebody').html('');
                $('#arefiamessagebody').css('justify-content', 'flex-end');
                $('#arefiamessagebody').css('align-items', 'center');
                $('#arefiamessagebody').append('<img src="medias/emptymessage.png" style="width: 20%; height: 40%;"/>');
                if (currentfollower != undefined && currentfollower != '') {
                	$('#' + currentfollower + '_outcon').removeClass('arefiafollowercontainerselected');
                	$('#' + currentfollower + '_outcon').addClass('arefiafollowercontainer');
                    currentfollower = '';
                }
            }
            
            function initcotgarden() {
            	$('#arefiauserlist').css('display', 'none');
            	$('#arefiacontlist').css('display', 'none');
            	$('#arefiacontinfoshow').html('');
            	$('#arefiacontinfoshow').css('background-image', '');
            	$('#arefiacontinfoshow').append('<img src="medias/unknowusers.png" style="width: 15%; height: 18%;"/>');
            	if (currentinfosta != undefined && currentinfosta != '') {
                	$('#' + currentinfosta + '_outulist').removeClass('arefiafollowercontainerselected');
                	$('#' + currentinfosta + '_outulist').addClass('arefiafollowercontainer');
                	currentinfosta = '';
            	}
            }
            
            function redirectPage(urlStr) {
                window.location.href = urlStr;
            }
            
            function websocketConnect() {
                var socket = new SockJS('/websocketConnect');
                stompClient = Stomp.over(socket);
                stompClient.connect({}, function (frame) {
                	var infObj = frame.headers;
                	websxUser = infObj['user-name'];

                    stompClient.subscribe('/topic/linemessage', function (message) {
                    	var msgInfo = JSON.parse(message.body);
                    	
                    	if (msgInfo.OBJTYPE == 'RECIEVE') {
                        	var msgArr = JSON.parse(msgInfo.RECIEVEARRAY);
                        	
                        	var conexist = false;
                        	var floexist = false;

                        	for (var m = 0; m < msgArr.length; m++) {
                        		var msgObj = msgArr[m];
                        		var sourcerObj = msgObj.source;
                        		var conObj = msgObj.message;
                                
                        		if ($('#arefiauserlist').children().length > 0) {
                            		$('#arefiauserlist').children('div').each(function(index) {
                            			var compid = $(this).attr('id');
                            			
                            			compid = compid.substring(0, compid.indexOf('_'));

                            			if (compid == sourcerObj.userId) {
                            				conexist = true;
                            				return false;
                            			}
                            		});
                        		}
                        		
                        		if (!conexist) {
                            		$.get('getfollowerindb', {followerid: sourcerObj.userId}, function(result) {
                            			if (result != null && result != '') {
                                            var ofrObj = JSON.parse(result);
                                            
                                            ofrObj.MESSAGEFROM = 'RECIEVE';
                                            ofrObj.MSGTYPE = conObj.type;
                                            
                                            if (conObj.type == 'text') {
                                            	var ntstr = conObj.text;
                                    			
                                    			if (ntstr.length > 12) {
                                    				ntstr = ntstr.substring(0, 12) + '...';
                                    			}
                                            	ofrObj.MSG = ntstr;
                                            } else {
                                            	if (conObj.type == 'image') {
                                                	ofrObj.MSG = 'Image';
                                            	} else {
                                            		if (conObj.type == 'sticker') {
                                                    	ofrObj.MSG = 'Sticker';
                                                	} else {
                                                		ofrObj.MSG = 'Unsupported';
                                                	}
                                            	}
                                            }
                                            
                                            ofrObj.UNREADCOUNT = '1';
                                            ofrObj.LASTDATE = msgObj.recievedate;
                                            ofrObj.LASTTIME = msgObj.recievetime;
                                            
                                            addNewLine(ofrObj, $('#arefiauserlist'), 'newcon');
                                    	}
                            			
                            			if ($('#arefiacontlist').children().length > 0) {
                            				$('#arefiacontlist').children('div').each(function(index) {
                                    			var fcompid = $(this).attr('id');
                                    			
                                    			fcompid = fcompid.substring(0, fcompid.indexOf('_'));
                                    			
                                    			if (fcompid == sourcerObj.userId) {
                                    				floexist = true;
                                    				return false;
                                    			}
                                    		});
                            			}
                            			
                            			if (!floexist) {
                            				addNewUserList(ofrObj, $('#arefiacontlist'));
                            			}
                                    });
                        		} else {
                        			var nfcon = conObj.text;
                        			
                        			switch (conObj.type) {
            		                    case 'text':
            		                    	var nsopn = conObj.text;
                                			
                                			if (nsopn.length > 12) {
                                				nsopn = nsopn.substring(0, 12) + '...';
                                			}
                                			
                                			$('#' + sourcerObj.userId + '_lstmsg').html(nsopn);
                                			
                                			nfcon = nfcon.replace(/(?:\r\n|\r|\n)/g, '<br/>');
            		    	                break;
            		                    case 'image':
            		                    	$('#' + sourcerObj.userId + '_lstmsg').html('Image');
            		    	                break;
            		                    case 'sticker':
            		                    	$('#' + sourcerObj.userId + '_lstmsg').html('Sticker');
            		    	                break;
            		                    case 'video':
            		                    	$('#' + sourcerObj.userId + '_lstmsg').html('Video');
            		    	                break;
            		                    case 'audio':
            		                    	$('#' + sourcerObj.userId + '_lstmsg').html('Audio');
            		    	                break;
            		                    default :
            		                    	$('#' + sourcerObj.userId + '_lstmsg').html('Unsupported');
            		    	                break;
            		                }                    			
                                    
                                    if (currentfollower != null && sourcerObj.userId == currentfollower) {
                                    	$.get('/realtimeupdate', {MSGID: conObj.id});
                                    	                                    	
                                    	$('#arefiamessagebody').append('<div class="arefiaSrcFrame"></div>');
                                    	$('#arefiamessagebody').last().append(createRecieveFrame(sourcerObj.userId, conObj.type, nfcon, msgObj.recievedate + ' ' + msgObj.recievetime, conObj.id, conObj.IMAGEWIDTH, conObj.IMAGEHEIGHT, stadw));
                                    	
                                    	$('#arefiamessagebody').animate({scrollTop: document.getElementById("arefiamessagebody").scrollHeight + 10000}, 500);
                                    } else {
                                        if ($('#' + sourcerObj.userId + '_unrcnt').html() == '') {
                                            $('#' + sourcerObj.userId + '_unrcnt').html('1');
                                            $('#' + sourcerObj.userId + '_unrcnt').css('display', '');
                                        } else {
                                            if ($('#' + sourcerObj.userId + '_unrcnt').html().indexOf('+') < 0) {
                                                var cntnum = Number($('#' + sourcerObj.userId + '_unrcnt').html()) + 1;
                                                
                                                if (cntnum <= 999) {
                                                    $('#' + sourcerObj.userId + '_unrcnt').html(cntnum.toString());
                                                } else {
                                                    $('#' + sourcerObj.userId + '_unrcnt').html('999+');
                                                }
                                            }
                                        }
                                    }
                        		}
                        	 }
                    	} else {
                    		var pfcon = msgInfo.MSG;

                			switch (msgInfo.MSGTYPE) {
    		                    case 'text':
    		                    	var psopn = msgInfo.MSG;
                        			
                        			if (psopn.length > 12) {
                        				psopn = psopn.substring(0, 12) + '...';
                        			}
                        			
                        			if ($('#' + msgInfo.SOURCERID + '_lstmsg').html() != undefined) {
                            			$('#' + msgInfo.SOURCERID + '_lstmsg').html(psopn);
                        			}

                        			pfcon = pfcon.replace(/(?:\r\n|\r|\n)/g, '<br/>');
    		    	                break;
    		                    case 'image':
    		    	                
    		    	                break;
    		                    case 'sticker':
    		    	            
    		    	                break;
    		                    case 'video':
    		    	            
    		    	                break;
    		                    case 'audio':

    		    	                break;
    		                    default :
    		    	            
    		    	                break;
    		                } 
                			
                			if (currentfollower != null && msgInfo.SOURCERID == currentfollower) {
                				$('#arefiamessagebody').append(createPushFrame(msgInfo.MSGTYPE, pfcon, msgInfo.EXETIME, msgInfo.MSGID, msgInfo.IMAGEWIDTH, msgInfo.IMAGEHEIGHT, stadw));
                        		$('#arefiamessagebody').animate({scrollTop: document.getElementById("arefiamessagebody").scrollHeight + 10000}, 500);
                			}
                    	}
                    });
                });
            }

            function disconnect() {
                if (stompClient !== null) {
                    stompClient.disconnect();
                }
            }
            
            function showmessagecontent(userId) {
            	if (currentfollower == undefined || currentfollower != userId) {
            		if (currentfollower != undefined) {
            		    $('#' + currentfollower + '_outcon').removeClass('arefiafollowercontainerselected');
                	    $('#' + currentfollower + '_outcon').addClass('arefiafollowercontainer');
            		}
            		
            		currentfollower = userId;
                	
                    $('#arefiasourcername').html('與' + $('#' + userId + '_udna').html() + '	的對話');
                    $('#arefiamessagebody').css('justify-content', 'flex-start');
                    $('#arefiamessagebody').css('align-items', 'flex-start');
                    $('#arefiaconvtitle').css('display', '');
                    $('#arefiamessagetool').css('display', '');
                    $('#arefiamessageeditor').css('display', '');
                    $('#' + userId + '_unrcnt').html('');
                    $('#' + userId + '_unrcnt').css('display', 'none');
                	
                	$('#' + currentfollower + '_outcon').removeClass('arefiafollowercontainer');
                	$('#' + currentfollower + '_outcon').addClass('arefiafollowercontainerselected');
                	$('#arefiamessagebody').html('');
                	//$('#arefiamessagebody').append('<img src="medias/load.gif"/>');
                	
                	$.get('getfollowerMsgs', {followerid: userId}, function(result) {
            			if (result != null && result != '') {
                            var msgArr = JSON.parse(result);
                                                    
                            $('#arefiamessagebody').html('');
                            
                            for (var m = 0; m < msgArr.length; m++) {                            	
                            	if (msgArr[m].MSGFROM == 'RECIEVE') {
                                	$('#arefiamessagebody').append(createRecieveFrame(userId, msgArr[m].MSGTYPE, msgArr[m].MSG, msgArr[m].EXETIME, msgArr[m].MSGID, msgArr[m].IMAGEWIDTH, msgArr[m].IMAGEHEIGHT, stadw));
                            	} else {
                            		$('#arefiamessagebody').append(createPushFrame(msgArr[m].MSGTYPE, msgArr[m].MSG, msgArr[m].EXETIME, msgArr[m].MSGID, msgArr[m].IMAGEWIDTH, msgArr[m].IMAGEHEIGHT, stadw));
                            	}
                            }
                            
                            $('#arefiamessagebody').animate({scrollTop: document.getElementById("arefiamessagebody").scrollHeight + 10000}, 500);
                    	}
                    });
            	}
            }
            
            function showcontactcontent(id, name, pic, sta) {
            	if (currentinfosta == undefined || currentinfosta != id) {
            		if (currentinfosta != undefined) {
            		    $('#' + currentinfosta + '_outulist').removeClass('arefiafollowercontainerselected');
                	    $('#' + currentinfosta + '_outulist').addClass('arefiafollowercontainer');
            		}
                	
            		currentinfosta = id;
            		
            		$('#arefiacontinfoshow').html('');
                	$('#arefiacontinfoshow').css('background-image', 'url(/medias/contactinfoback.jpeg)');
                	
                	var infoobj = '<label class="displaynamelabel">' + name + '</label><div class="contactavatar" style="background-image: url(\'' + pic + '\');"></div>';
                	
                	if (sta != '') {
                		infoobj += '<label class="statustxtlabel">' + sta + '</label>';
                	}
          
                	infoobj += '<button type="button" class="btn btn-success" style="margin-top: 20px;"';
                	infoobj += 'onclick="startconversation(\'' + id + '\',\'' + name + '\', \'' + pic + '\', \'' + sta + '\')">';
                	infoobj += '<span><i class="fas fa-comment-dots"></i>聊天</span></button>';
                	
                	$('#arefiacontinfoshow').append(infoobj);
                	
                	$('#' + currentinfosta + '_outulist').removeClass('arefiafollowercontainer');
                	$('#' + currentinfosta + '_outulist').addClass('arefiafollowercontainerselected');
            	}
            }
            
            function startconversation(userid, displayname, picurl, statusmsg) {
            	$('#arefiaconvselbtn').click();
            	
            	if ($('#' + userid + '_outcon').length > 0) {
            		$('#' + userid + '_outcon').click();
            	} else {
            		var ncfuser = new Object();
            		
            		ncfuser.USERID = userid;
            		ncfuser.DISPLAYNAME = displayname;
            		ncfuser.PICTUREURL = picurl;
            		ncfuser.STATUSMESSAGE = statusmsg;
            		ncfuser.MSGTYPE = '';
            		ncfuser.MSGFROM = '';
            		ncfuser.UNREADCOUNT = 0;
            		ncfuser.LASTDATE = '';
            		
            		addNewLine(ncfuser, $('#arefiauserlist'), 'newcon');
            		
            		$('#' + userid + '_outcon').click();
            	}           	
            }
            
            function showstick() {
            	var blockmodel = '<div id="arefiablockdiv" style="position: fixed; top: 101vh; left: 0; width: 100vw; height: 100vh; background: #000; opacity: 0.5; z-index: 998;"></div>';
            	
            	$('body').append(blockmodel);
            	
            	$('#arefiablockdiv').animate({
            	    top: 0
            	}, 500);
            }
            
            function selectfile() {
            	$('#fileselector').trigger('click');
            }
            
            function uploadhandler(files) {
            	var linefile = files[0];
            	var filetype = linefile.type.substring(0, 5);
    			
            	if (filetype != 'image') {
                	alert('系統目前暫不支援傳輸此格式訊息!');
            	} else {
            		var pushfid = generateGuid();
            		var pushdata = new FormData();
            		
            		pushdata.append("msgtype", filetype);
            		pushdata.append("pushfid", pushfid);
            		pushdata.append("pushfile", linefile);
            		
            		$.ajax({
            		    url: '/pushfiles',
            		    type: 'POST',
            		    cache: false,
            		    data: pushdata,
            		    processData: false,
            		    contentType: false
            		}).done(function(res) {
            			stompClient.send("/app/pushMessage", {}, JSON.stringify({'sourcer': currentfollower, 'messageType': 'image', 'message': '', 'pusher': websxUser, 'pushfid': pushfid}));
            		}).fail(function(res) {});
            	}
            }
            
            function movetohistory() {
            	var qsthist = confirm("Do You Really Want To Remove This Conversation From This Message List?");
            	
            	if (qsthist == true) {
            		$('#arefiamessagebody').html('');
            		$('#arefiaconvtitle').css('display', 'none');
                    $('#arefiamessagetool').css('display', 'none');
                    $('#arefiamessageeditor').css('display', 'none');
                    $('#arefiamessagebody').css('justify-content', 'center');
                    $('#arefiamessagebody').css('align-items', 'center');
                    $('#arefiamessagebody').append('<img src="medias/emptymessage.png" style="width: 20%; height: 38%;"/>');
                    
                    $('#' + currentfollower + '_outcon').remove();
                    
                    $.post('movemsgtohistory', {followerid: currentfollower}, function() {
                    	currentfollower = undefined;
                    });
            	} else {
            	    alert('取消');
            	}
            }
            
            function convfunsel(stype) {
            	if (stype === 'conv') {
            		initcotgarden();
                	$('#arefiacontlist').css('display', 'none');
                	$('#arefiauserlist').css('display', '');
                	$('#arefiacontinfoshow').css('display', 'none');
                	$('#arefiamessageshow').css('display', '');
                	$('#arefiaconvselbtn').removeClass('afbtngrp').addClass('seldfunbtn');
                	$('#arefiauserselbtn').removeClass('seldfunbtn').addClass('afbtngrp');
            	} else {
            		initmsggarden();
                	$('#arefiauserlist').css('display', 'none');
            		$('#arefiacontlist').css('display', '');
            		$('#arefiamessageshow').css('display', 'none');
            		$('#arefiacontinfoshow').css('display', '');
                	$('#arefiauserselbtn').removeClass('afbtngrp').addClass('seldfunbtn');
                	$('#arefiaconvselbtn').removeClass('seldfunbtn').addClass('afbtngrp');
            	}
            }
        </script>
        <link rel="stylesheet" type="text/css" href="styles/messagecenter.css" />
    </head>
    <body class="linebody">
        <div th:replace="fragment/lineApiHeader :: headerTemp"></div>
        <div class="container-fluid areafiamainbody">
            <div class="row">
                <div id="arefiacontactlist" class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
                    <div id="arefiafunctions">
                        <div class="btn-group">
                            <button id="arefiaconvselbtn" type="button" onclick="convfunsel('conv')"><i class="fas fa-comment-dots fa-lg"></i></button>
                            <button id="arefiauserselbtn" type="button" onclick="convfunsel('user')"><i class="fas fa-users fa-lg"></i></button>
                        </div>
                    </div>
                    <div id="arefiauserlist"></div>
                    <div id="arefiacontlist"></div>
                </div>
                <div id="arefiamessagelist" class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
                    <div id="arefiamessageshow">
                        <div id="arefiaconvtitle">
                            <label id="arefiasourcername"></label>
                            <i id="mvhistbtn" class="far fa-trash-alt" onclick="movetohistory()"></i>
                        </div>
                        <div id="arefiamessagebody"></div>
                        <div id="arefiamessagetool">
                            <i class="far fa-smile" id="stickbtn" onclick="showstick()" style="display: none;"></i>
                            <i class="fas fa-paperclip" id="attabtn" onclick="selectfile()"></i>
                            <input id="fileselector" type="file" name="pushfiles" accept="image/*" style="display: none;" onchange="uploadhandler(this.files)" />
                        </div>
                        <div id="arefiamessageeditor">
                            <textarea id="arefiamsgtxtarea"></textarea>
                        </div>
                    </div>
                    <div id="arefiacontinfoshow"></div>
                </div>
            </div>
        </div>
    </body>
</html>